[2012-10-02 19:30] dmakhno opened #1 "Reuse selenium locators"
After some code studying, please look into ways to make following improvements

org.openqa.selenium.support.pagefactory.DefaultElementLocator was overriden by ru.yandex.qatools.htmlelements.pagefactory.DefaultElementLocator
by adding findElements method.

Making assumption it was made for List, however according to:
http://code.google.com/searchframe#2tHw6m3DZzo/trunk/java/client/test/org/openqa/s

[2012-10-03 14:05] AlexanderTolmachev opened #2 "Provide possibility for marking classes with @FindBy and @FindBys annotations"
It would be better to mark blocks with common <code>@FindBy</code> and <code>@FindBys</code> annotations instead of <code>@Block</code> annotation. So it  is needed to make  <code>@FindBy</code> and <code>@FindBys</code> annotations both class-targeted and field-targeted.

[2012-10-03 14:13] AlexanderTolmachev opened #3 "Use AjaxElementLocator by default instead of DefaultElementLocator"
Currently we use DefaultElementLocator for locating elements. But DefaultElementLocator is a particular case of AjaxElementLocator (with zero timeout). It would be better to use AjaxElementLocator by default.

Related issues: <a href="https://github.com/yandex-qatools/htmlelements/issues/1">Reuse selenium locators</a>, <a href="https://github.com/yandex-qatools/htmlelements/issues/4">Make it possi

[2012-10-03 14:26] AlexanderTolmachev opened #4 "Make it possible to pass element locator to the initialization methods"
It would be fine to let users to use different element locators. So we should allow them to pass element locator as a parameter to the initialization methods of HtmlElementLoader class.
According to <a href="https://github.com/yandex-qatools/htmlelements/issues/3">this issue</a> AjaxElementLocator is to be used by default.

[2012-10-03 15:30] AlexanderTolmachev opened #5 "Create separate interfaces for actions that can be performed on typified elements"
There is a set of actions for each typified element that can be performed on it. But sometimes certain action can be performed on different typified elements. For example, both Link and Button have method click(), both Select and Radio have such methods like selectByIndex(), selectByValue() and so on.
It would be very useful to create such interfaces like Clickable, Selectable, etc. It would help

[2012-10-28 23:30] dmakhno opened #6 "Typesafe repo lack of bins"
Seems this file is missing... http://repo.typesafe.com/typesafe/repo/ru/yandex/qatools/htmlelements/htmlelements/1.8/htmlelements-1.8.jar

Only htmlelements-1.8-javadoc.jar is present.

[2012-11-22 11:32] AlexanderTolmachev opened #7 "Downgrade Java version to 1.6"
It's needed to able to use Html Elements with Java 6.

[2012-11-22 11:32] #7 closed, assigned to AlexanderTolmachev

[2012-11-22 11:33] #6 closed, assigned to nobody

[2012-12-01 19:50] dmakhno opened #8 "Blocks as nested class throw InstantiationException"
Used version: 1.9-Snapshot

Sorry for scala syntax... however.

Works fine:

[code]

Doesn't work

[code]

Throws on

[code]

Log

[code]

If this quite technical limitation for now (according to my limited knowledge of nested classes), it would be good to notice that on start page, because error log is confusing.

P.S. It would be nice to notice that on Read.me that List are supported aswell
P.P.

[2012-12-14 13:46] dmakhno opened #9 "Selenium Version"
I have to ideas here:
- Sounds strange, but I suggest to use Selenium dependency as optional. I have to exclude now, due to old version
- Update to most recent 2.27
- Not sure on maven, make a dependent version of selenium is something "2.*"

[2013-01-22 08:52] #9 closed, assigned to nobody

[2013-01-22 09:50] #3 closed, assigned to artkoshelev

[2013-01-23 10:21] #4 closed, assigned to artkoshelev

[2013-01-23 10:23] #1 closed, assigned to nobody

[2013-01-24 13:40] AlexanderTolmachev opened #12 "Actions for typified elements"
It will be very useful to provide actions for typified elements like <a href="http://selenium.googlecode.com/svn/trunk/docs/api/java/org/openqa/selenium/interactions/Actions.html">WebDriver Actions for WebElements</a>.

[2013-01-30 13:16] dmakhno opened #13 "TypifiedElement vs HtmlElement different hierarhys"
**It would be nice to make class level annotations also for Typified elements.**

I was going to play with Block annotation while met following
And I have to use following:

[code]

What I really need is

[code]

Goal to have ability wrap controls by extended functionality.

Workaround might be

[code]

Note: Sorry for scala, if not clear I'll provide more info.
P.S. Due to #2 not sure how to call

[2013-01-31 12:36] eroshenkoam opened #14 "Use isSelect() method instead of getWrappedElement().isSelected() in CheckBox elements methods"
CheckBox element:
https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/element/CheckBox.java

[code]

if someone override isSelected() method, then select method doesn't work because it's use (!getWrappedElement().isSelected()) for checking status of element.

[2013-01-31 12:59] #14 closed, assigned to eroshenkoam

[2013-01-31 13:20] eroshenkoam opened #15 "Added method isDisplayed(), isEnabled(), isSelected() to Typified Element"
It's a basics methods

[2013-02-04 13:44] #15 closed, assigned to eroshenkoam

[2013-02-04 14:13] lanwen opened #16 "Refresh matcher-decorator"
Sometimes it needs to refresh the page before/after search some element.
The good way to do it in matcher checks is matcher decorator.

As i see it:

[code]

[2013-02-04 20:44] eroshenkoam opened #17 "HtmlElement(TypifiedElements) list init problem"
![2012-09-19_1552](https://f.cloud.github.com/assets/781455/125170/92e40b2e-6f0b-11e2-88f8-669f7f6467f7.png)

[2013-02-04 20:48] #17 closed, assigned to eroshenkoam

[2013-02-07 11:38] eroshenkoam opened #18 "Create htmlelements-all module (java + matchers dependencies)"

[2013-02-07 11:38] #18 closed, assigned to eroshenkoam

[2013-02-20 12:17] oleksiipysanko opened #26 "usage with thucydides"
I'm trying to use htmlelements with thucydides page object.
So I have a class for page object:
public class PassportPage extends PageObject {

[code]

}

And when I try to create an instance of PassportPage I get exception:
Can not set autotests.elements.LoginForm field autotests.pages.PassportPage.loginForm to sun.proxy.$Proxy9

As well when I try to run thucydides tests, which use page object wi

[2013-02-22 11:19] #16 closed, assigned to nobody

[2013-02-26 12:36] AlexanderTolmachev opened #28 "Take account of superclass @Block annotation when locating htmlelement"
It would be useful to locate htmlelements not only by field `@FindBy` annotation and field class `@Block` annotation, but also by `@Block` annotations of superclasses.

[2013-02-26 16:28] #28 closed, assigned to AlexanderTolmachev

[2013-02-28 14:46] AlexanderTolmachev opened #29 "Unify matcher decoration mechanism"
It would be great to provide unified matcher decoration mechanism, not only WaitForMatcher and RefreshMatcher.
The desired usage is the following:
1. `assertThat(element, should(exist()).if(conditionIsSatisfied()))` - matcher decoration with some condition.
2. `assertThat(element, should(exist()).after(actionIsPerformed()))` - matcher decoration with some action.
3. `assertThat(element, should(exi

[2013-03-07 08:58] AlexanderTolmachev opened #30 "Provide patch for Html Elements usage with Thusydides"
According to issue #26 a patch of Thucydides for сombined usage with Html Elements is required.

[2013-03-07 09:04] #29 closed, assigned to AlexanderTolmachev

[2013-03-07 09:28] AlexanderTolmachev opened #31 "Integrate Html Elements with Thucydides"
There is no ability to use Html Elements with Thucydides by default, but according to #26 such possibility is demanded. Providing a patch of Thucydides (#30) is a temporary solution.
It would be perfect to negotiate with John Smart for providing a convenient way of using Html Elements with Thucydides.

[2013-03-08 11:49] #30 closed, assigned to eroshenkoam

[2013-03-13 11:01] eoff opened #32 "@Override issue in HtmlElement"
If we override for example getText() method in HtmlElement, then matcher hasText() from WebElementMatchers and from WrapsElementMatchers will work differently, that seems to be not an expected behaviour

https://github.com/eoff/htmlelements/blob/master/htmlelements-matchers/src/test/java/ru/yandex/qatools/htmlelements/matchers/HtmlElementWorkWithMatcherTest.java

[2013-04-08 14:22] AlexanderTolmachev opened #35 "Add Form typified element"
It would be useful to have a typified element representing a standard web form. It should provide a handy way of filling form with data and submitting it.

[2013-04-08 14:31] AlexanderTolmachev opened #36 "Add Table typified element"
It's often needed to deal with html tables when writing tests. It would be fine to provide appropriate typified element to make it easier.

[2013-04-08 14:43] AlexanderTolmachev opened #37 "Improve IsElementDisplayedMatcher"
If element doesn't exist on page, `IsElementDisplayedMatcher` will throw a corresponding exception. But it would be more convenient to receive `false` in this case, like when using `DoesElementExistMatcher`.

[2013-04-08 14:55] AlexanderTolmachev opened #38 "Provide possibility to combine conditions when decorating matchers"
It would be nice to have a possibility of combining conditions using `and` and `or` operations, e.g.

[code]

[2013-04-08 15:40] #37 closed, assigned to AlexanderTolmachev

[2013-04-08 15:59] AlexanderTolmachev opened #39 "Use named WebElement proxies when initializing HtmlElements and TypifiedElements"
Unnamed proxy is returned when calling `getWrappedElement()` method of any block element or typified element. But sometimes it's needed to use `toString()` method of this wrapped element (e.g. in matchers). So it'd be better to use named WebElement proxy with the same name as wrapping block element or typified element.

[2013-04-09 12:58] #39 closed, assigned to AlexanderTolmachev

[2013-04-09 13:07] AlexanderTolmachev opened #40 "Add describeMismatchSafely() to hasText() and hasAttribute() matchers"
Selenium `TextMatcher` and `AttributeMatcher` that we use don't have `describeMismatchSafely()` method. This should be improved.

[2013-04-09 13:09] #40 closed, assigned to AlexanderTolmachev

[2013-04-09 13:55] #38 closed, assigned to AlexanderTolmachev

[2013-04-09 16:09] AlexanderTolmachev opened #41 "Add FileInput typified element"
It is needed to add a typified element for uploading files. It should be applicable for uploading files with remote web driver.

[2013-04-13 18:35] #35 closed, assigned to AlexanderTolmachev

[2013-04-13 18:35] #36 closed, assigned to AlexanderTolmachev

[2013-04-13 18:35] #41 closed, assigned to AlexanderTolmachev

[2013-04-13 18:49] AlexanderTolmachev opened #42 "Replace conditions with matchers"
Conditions are redundant, it will be more common to use matchers instead of them, e.g.:

[code]

[2013-04-13 19:35] #42 closed, assigned to AlexanderTolmachev

[2013-05-06 13:58] eroshenkoam opened #43 "HtmlElements Thucydides Integration"

[2013-05-08 13:22] #31 closed, assigned to eroshenkoam

[2013-07-18 20:31] aik099 opened #44 "CheckBox::getLabel finds wrong label"
Method `getLabel` of `CheckBox` class uses following xpath `following-sibling::label` to find label, associated with a checkbox. However in most cases this would find wrong label, that even don't belong to that checkbox.

Sample problematic markup:

[code]

I think, that we either should find the "label" that placed right after a checkbox or use "for" attribute of label to match with "id" attribut

[2013-08-16 09:01] yashaka opened #46 "Not informative 'Unable to locate the element' message"
If the element could not be find by locator (in the chromedriver case at least), The following exception is thrown:

[code]

Why not add additional info about the element (annotated with @FindBy) which was not find? At least something to identify it from the test result... The variable name, locator (xpath, css used in FindBy, etc.), etc...

[2014-02-26 12:43] kertoip opened #52 "Support of @FindAll"
Hi, I tried to used Selenium's @FindAll annotation (http://selenium.googlecode.com/git/docs/api/java/org/openqa/selenium/support/FindAll.html) but it seems that htmlelements doesn't support that. Could the support be added in future release?

[2014-03-28 08:33] antbert opened #54 "Waiting time to find an element"
Hi, how can I set a different time to find the element? 5 seconds is too much for me .
(I use annotation "@FindBy")

[2014-03-28 09:13] antbert opened #55 "@Block do not work"
<code>
// //div[contains(@class, 'ctaButton')]
@Block(@FindBy(xpath = CqWindowConstants.DIV_CONTAINER_XPATH))
public class ColorButton extends HtmlElement {

[code]

// //div[contains(@class, 'container')]
    @Name(CqWindowConstants.DIV_ALIGNMENT_CONTAINER_NAME)
    @FindBy(xpath = CqWindowConstants.DIV_ALIGNMENT_CONTAINER_XPATH)
    private HtmlElement divContainer;
}
</code>
I have a few items

[2014-03-28 09:26] #55 closed, assigned to nobody

[2014-03-28 10:37] #54 closed, assigned to nobody

[2014-04-15 22:28] Actine opened #56 "Make WebDriver available from HTML Elements"
Hello Yandex,

We are developing a test framework for our rich web application using Java, Selenium, Spring for dependency management, and HTML Elements for defining layouts. We employ a strict separation of concerns where Pages, Elements, and nested Elements not only declare the composition, but methods to interact with them (somewhat similar to Views in Backbone.Marionette MVC). This way they pr

[2014-04-22 08:35] ilya-murzinov opened #61 "Add HtmlElementFactory"
[based on wiki](https://github.com/yandex-qatools/htmlelements/wiki/HtmlElements-2.0#%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5-%D1%81%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B)

<code>
public class HtmlElementFactory {
        public static <T extends HtmlElement> newHtmlElement(SearchContext context, By by, Class<T> clazz, String name, boolean shouldCashe) {}

[2014-05-05 11:04] #52 closed, assigned to nobody

[2014-05-05 11:06] #26 closed, assigned to nobody

[2014-05-05 11:06] #43 closed, assigned to eroshenkoam

[2014-07-22 16:32] alkedr opened #65 "Form.fill() doesn't clear text inputs before calling sendKeys()"
If input with type 'text' or 'password' already has value Form.fill() will append to it, not replace.

Form.java, lines 71-73
[code]

[2014-09-19 17:05] Actine opened #68 "Make methods in HtmlElementDecorator protected"
Hello,

We use Spring in our suite extensively, and therefore to inject required dependencies into our HTML elements we need to extend `HtmlElementDecorator` and use that. However, for the decorator to perform injection recursively on all elements we need to override `decorateHtmlElement()` method as well, which is currently private and decorates all sub-elements using HtmlElementDecorator instead

[2014-10-01 12:16] lanwen opened #69 "Remove matchers module"
Now matchers in separate project:
https://github.com/yandex-qatools/matchers-java

[2014-11-07 07:59] OStrekalovsky opened #72 "Demo examples with thucydides doesn't work."
Please, actualize pom, code of test artifact. It's doesn't work (NoClassDefFound and other exceptions during try to run mvn test).

[2014-12-11 16:36] clicman opened #73 "Is it possible to add appium support?"
Is it possible to add appium support? If it is, how to deal with?

[2014-12-12 08:54] #73 closed, assigned to nobody

[2014-12-29 10:15] artemiyokulov opened #74 "WebElementNamedProxyHandler can't find element"
Извините за мой английский, вернее за его отсутствие.
Имееться класс

[code]

и реализация

[code]

проблема в том,  что после строчки `closeButton.click()` элемент (модальное окно) пропадает со страницы, и при вызове `waitForHide()` проиходит задержка в 120 секунд, перед тем как он скажет что элемента не существует.

Да, действительно его уже не существует, но я сам это проверяю в методе `waitFor

[2014-12-29 10:39] #74 closed, assigned to nobody

[2014-12-30 10:41] #32 closed, assigned to nobody

[2015-01-23 10:23] paulakimenko commented on #56
Hi, guys. I need this feature too.

[2015-01-23 10:47] Actine commented on #56
@paulakimenko the truth is, I implemented this in my project. I'm just too lazy to make a pull request and write unit tests for it :)

[2015-01-23 11:28] lanwen commented on #72
Moved to examples project

[2015-01-23 11:28] #72 closed

[2015-01-23 11:34] lanwen commented on #46
Will be added cause info with selector in #75. Can i close this issue for now?

[2015-01-23 11:36] lanwen commented on #2
Already done in #70

[2015-01-23 11:36] #2 closed

[2015-01-23 14:26] paulakimenko commented on #56
@Actine , sorry, could you send example if you have it?

[2015-01-24 00:56] Actine commented on #56
@paulakimenko here's the idea

1. Create an interface like below, and implement it in your base html element class (if you have it), or the concrete classes
[code]
[code]

2. Add this class to your project (is a copy-paste of `HtmlElementDecorator` and `HtmlElementListNamedProxyHandler` classes with tweaks): https://gist.github.com/Actine/05698ecd32d29cac69f9

3. Now when you initialize your block

[2015-01-24 07:08] paulakimenko commented on #56
@Actine thank you. It works fine)

[2015-03-25 11:25] emaks opened #77 "Nested elements"
Is there any way to initialize new wrappedElement using instance of Typified Element and some locator?
something like this:
[code]

[2015-03-25 11:28] aik099 commented on #77
There is no need to mention `emailField` in `RegisterForm` constructor. Instead you need to add `@FindBy` annotation to the `emailField` class properly DocBlock with corresponding locator.

[2015-03-25 11:55] emaks commented on #77
@aik099
I need the element search to be relative to the parental(like ```getWrappedElement().findElement()```), but in this case, the element search will be done relative to the whole page. Or am I wrong?

[2015-03-25 12:05] artkoshelev commented on #77
element search will be relative to parent, that's the main idea =)

[2015-03-25 14:42] emaks commented on #77
great, thank you for clarification, but I can't use ``` @FindBy ``` annotation in my case. I need to create some builder to get ``` wrappedElement ``` for child element in form (I have a lot of fields in form and I don't want to declare them)

[2015-03-25 14:44] aik099 commented on #77
So you want to use field on that form, but don't want to declare class property for it. Why?

[2015-03-25 15:12] emaks commented on #77
I want to implement something like that
[code]

[2015-03-25 15:56] aik099 commented on #77
That isn't supported by library. It only operates on class properties with `@FindBy` annotations.

It's absolutely ok to create properties for each form field, but for large forms this might look ugly.

[2015-03-26 07:55] emaks commented on #77
Do you have any plans to implement this?(I found some [infrormation] (https://github.com/yandex-qatools/htmlelements/wiki/HtmlElements-2.0#%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5-%D1%81%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B) about that ) besides ``` @FindBy ``` annotation doesn't work for ``` ru.yandex.qatools.htmlelements.element.TypifiedElement ``` Can

[2015-04-01 08:40] emaks opened #78 "ru.yandex.qatools.htmlelements.loader.decorator.HtmlElementDecorator error with custom ElementLocatorFactory"
when I try to initialize page elements with **custom ElementLocatorFactory**, like
[code]
in ```private <T extends HtmlElement> T decorateHtmlElement(Class<T> elementClass, ClassLoader loader, ElementLocator locator, String elementName) {
} ``` function
when  ``` PageFactory.initElements(new HtmlElementDecorator(elementToWrap), htmlElementInstance);``` line is executed will be used  **default Html

[2015-04-01 09:08] aik099 commented on #78
Can you please link the code line you're talking about here?

[2015-04-01 09:55] emaks commented on #78
[here you are] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/loader/decorator/HtmlElementDecorator.java#L115)

[2015-04-01 10:51] aik099 commented on #78
In that line the `HtmlElementDecorator` is used, but that's ok because the locator factory you've given is still used. Isn't it?

[2015-04-01 11:06] emaks commented on #78
instance of ``` new HtmlElementDecorator(elementToWrap) ``` will be initialized using
[code]
[constructor] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/loader/decorator/HtmlElementDecorator.java#L46) where which default ```ElementLocatorFactory``` is used

[2015-04-01 14:01] emaks commented on #78
In that case, child elements will be initialized by using default(```HtmlElementLocatorFactory```) class. but, I expect them to be initialized by using class from parent(```NotDefaultElementLocatorFactory```)

[2015-04-05 10:39] artkoshelev commented on #78
yep, i see now, that's a tricky piece... can you please share a problem you are trying to solve with custom ElementLocatorFactory? so i can write the test and propose solution? or you can write failing test describing your problem and pull request it.

[2015-04-07 13:33] emaks commented on #78
I want to add possibility to change [timeOutInSeconds] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/pagefactory/AjaxElementLocator.java#L58) parameter

[2015-04-07 13:35] aik099 commented on #78
If I remember correctly there was a task for making that value configurable on per-element basis.

[2015-04-07 14:37] artkoshelev commented on #78
yep, here is abandoned PR https://github.com/yandex-qatools/htmlelements/pull/63, you can fix all the problems here and we'll merge it

[2015-04-16 16:02] akrambek opened #79 "Questing regarding ajax pull"
Hi there,

I am trying to create a block for bootsrap select2 element. Here is my code.

[code]

[2015-04-16 16:47] aik099 commented on #79
I'm not sure if there is native wait function that would periodically (several times in a second) check if element if present and when it will be present will call some action on it.

[2015-04-16 17:20] akrambek commented on #79
Because I can't even use Thread.Sleep. How about AjaxElementLocator.

[2015-04-17 07:11] aik099 commented on #79
Isn't `AjaxElementLocator` used by default. So, when searching for `searchResult` it should wait for 5 seconds before giving up and throwing an error.

[2015-04-18 04:15] akrambek commented on #79
Actually, htmlelements works as expected it was how select option was working. I put full xpath and it worked. Thanks for you help

[2015-04-20 09:36] emaks opened #80 "java.lang.InstantiationException"
[code]

[2015-04-21 10:09] emaks commented on #77
Could you tell me what is the reason that you don't use child elements initialization in [decorateTypifiedElement()] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/loader/decorator/HtmlElementDecorator.java#L98) function like in [decorateHtmlElement()] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelement

[2015-04-21 10:12] aik099 commented on #77
It's up to you to place `initElements` call in constructor of your elements for it's properties to be scanned.

[2015-04-21 10:45] #77 closed

[2015-04-25 17:22] akrambek opened #81 "Best price to avoid StaleElementReferenceException when dealing with ajax"
Hi all,

I was not sure If it is right place to ask this question but since I start to use this framework. I though you can help me out :). Basically, I am facing an issue where by I am trying to create a block Bootstrap Select2 element with ajax search. When I am searching I am getting StaleElementReferenceException most of the time because of issue described http://docs.seleniumhq.org/exceptions

[2015-04-27 09:15] #81 closed

[2015-04-27 09:16] artkoshelev commented on #81
please ask your questions on stackoverflow with #htmlelements tag

[2015-04-28 09:15] emaks commented on #80
I guess problem in [this] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/utils/HtmlElementUtils.java#L35)

[2015-04-28 10:17] artkoshelev commented on #80
Hi, thank you for bug report and investigation, but it looks like you create problems for yourself =). Using nested Page Object in tests is a bad practice since you don't have a single point to view/fix your application presentation part. Using nested classes limits code reuse as well. So, what's the point in using nested Page Objects and nested elements declaration?

[2015-05-11 15:14] emaks commented on #78
please, see #82

[2015-05-19 11:22] emaks commented on #78
@artkoshelev is there any updates in #82?

[2015-05-19 12:53] artkoshelev commented on #78
will look at it in a few days, thank you

[2015-06-04 09:07] emaks commented on #78
@artkoshelev Could you, please, tell me when next release will be?

[2015-06-05 09:54] #65 closed

[2015-06-13 07:33] emaks opened #85 "StaleElementReferenceException when we use HasAttributeMatcher"
sometimes I get error

[code]

Problem [in] (https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-matchers/src/main/java/ru/yandex/qatools/htmlelements/matchers/common/HasAttributeMatcher.java#L28)

I guess we need to use
[code]

[2015-06-13 09:43] aik099 commented on #85
You'll get stale element exception in following scenario:

1. search for element on the page (element is really on the page)
2. something happens on the page, that causes element to be removed (e.g. ajax request)
3. the element reference found before is used to act on element (e.g. click on it)
4. element isn't there and exception is thrown

[2015-06-15 07:48] emaks commented on #61
what about this fuature?

[2015-06-15 09:32] emaks commented on #61
@artkoshelev , @eroshenkoam

What about this feature? Can I make a pull request or make some architectural changes that will provide me a possibility to implement this in my project?

[2015-06-15 09:56] artkoshelev commented on #61
@emaks can you explain the problem you want to solve?

[2015-06-15 10:24] emaks commented on #61
I want to use locator like ```String locator = String.format("//*[@text()='%s']", value); ``` and

[2015-06-15 10:37] artkoshelev commented on #85
Throwing assertion error means there is a bug in application. Throwing any kind of exception means the test is broken. So it's absolutely correct behavior.

[2015-06-15 10:37] #85 closed

[2015-06-15 15:31] artkoshelev commented on #61
@emaks that's not the problem you solving, but solution you want to see, so what's the problem?

[2015-06-15 17:52] emaks commented on #61
@artkoshelev
problems are in theme and localization testing. some locators use label (I know that it is bad practice but now it's the only possible solution), some locators are different per theme because they were developed without consideration of the automatization needs.  I want to create some configuration files that will contain locators for any theme(localization) and create page instances

[2015-06-16 07:56] artkoshelev commented on #61
not sure we should solve development problems in test framework. nevertheless i would suggest a few solutions for you:
  * test localization separately (e.g. check translation files alone and quick test to check if localization works at all)
  * create complex locator avoiding using labels
  * use methods not the fields for such elements calling findElement(s) inside

[2015-06-16 07:56] #61 closed

[2015-06-16 09:00] emaks commented on #61
can you give me some reasons why implementation of this idea is bad practice?

[2015-06-16 12:15] artkoshelev commented on #61
First of all, introducing such feature made your tests much more complex, so when test fails you can't say for sure where the problem is. Secondly, if you'll solve developers problems in a test framework it will became anything but test framework.

[2015-06-22 16:14] emaks opened #86 "new maven release"
I really need new maven release:) Could you, please, tell me when next release will be?

[2015-06-23 12:39] lanwen commented on #86
@emaks as soon as possible :)
We have some troubles with our infra for now. When it will be fixed, ill release new version

[2015-06-23 23:33] lanwen commented on #86
should be available in a few hours...

[2015-06-23 23:33] #86 closed

[2015-08-10 15:24] AlexWyrm opened #88 "Table.getColumns() incorrectly handles tables with <th> tags in first row"
This line https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/element/Table.java#L91 makes this method work incorrectly for tables with only \<th\> tags in the first row. Because getRows() returns only \<td\> elements, size of the first row will be 0 and method will return empty list.

[2015-08-20 11:20] ITtenax opened #89 "Current version htmlelements incompatible with last version selenium(2.47)"
Now WebElement class implements an interface TakesScreenshot, because according to the standard W3C WebDriver should be able to take a screenshot of a separate element, the implementation of yet, only the interface.

[2015-08-21 10:12] artkoshelev commented on #89
Hi, @ITtenax, thank you for reporting. We'll take a look on it in next release, or you can propose corresponding changing by yourself =)

[2015-08-21 13:10] ITtenax commented on #89
@artkoshelev, thanks for the quick response, I will try soon to make changes

[2015-09-14 14:25] xlenz commented on #89
Oops, I thought it is a defect in webDriver
https://github.com/SeleniumHQ/selenium/issues/1032

[2015-09-21 14:09] BCR69 opened #92 "Now Wiki information - Error 404"
Please, fix your Wiki https://github.com/yandex-qatools/htmlelements/wiki
Thanks

[2015-09-21 14:57] aik099 commented on #92
That was probably the temporary issue from GitHub. Now all is opening fine.

[2015-09-21 14:58] aik099 commented on #92
Ah, top page opens, but all links on it lead to 404.

[2015-09-21 15:17] BCR69 commented on #92
@aik099 Yes :(

[2015-09-25 12:01] BCR69 commented on #92
@artkoshelev fix this issue please

[2015-09-26 11:42] artkoshelev commented on #92
Since there is not match info on wiki, i've disabled it. Thank you for report :)

[2015-09-26 11:42] #92 closed

[2015-10-21 22:48] Sanchiezz opened #93 "Commons-lang 3-xx libraries and framework"
Hello.
I'm not sure that my message represents an issue, because I've not found any incorrect behaviour of framework classes, but one problem for newbies presents, and it takes some time to understand where is it, and how to resolve it.

The problem is next.
Impoted class org.apache.commons.lang.WordUtils from "common-lang" library presents in common-lang-2.xx versions libraries only. In 3.xx vers

[2015-10-22 10:39] artkoshelev commented on #93
Hi, all the required libraries/jars/frameworks explicitly or implicitly described in corresponding POM.xml. There is a common case however when some of the required libraries update their dependencies and you have two (or more) uncompatible versions in your classpath as a result.

Since you have done a lot of work investigating the problem already, it would be nice if you promote a pull-request fi

[2015-10-24 08:33] ham1 opened #94 "ParameterizedTypeImpl cannot be cast to java.lang.Class - HtmlElementDecorator issue"
This seems related to #78 and #80.

The Table implementation is very slow (it takes about 30s in Firefox for this table https://en.wikipedia.org/wiki/List_of_highest_mountains), as such, I wanted to cache the output of ```getRowsAsString()``` as we often do multiple checks on the same data (we can be sure that no other operation will happen on the table to change it, and, if needs be, we can easil

[2015-10-24 10:42] artkoshelev commented on #94
Can you make a pull-request with a simple failing unit-test demonstrating your problem?

[2015-10-25 03:20] ham1 opened #96 "Java 8"
Are there plans to upgrade to Java 8? Are there reasons not to now that it's been out for over a year and Java 7 is EoL (since April 2015)?
I've started working on improving the Table class using Java 8 streams, lambdas and Optional.

[2015-10-26 07:51] lanwen commented on #96
Java 7 library working perfectly on Java 8 env, we don't have plan to rewrite code until the maintain process for the code goes too hard. But you can propose PR with changes :) maybe it good time to upgrade

[2015-11-05 03:17] shaheenashaik opened #101 "unable to find element"
//import java.io.IOException;

//import org.apache.bcel.generic.Select;
import org.openqa.selenium.support.ui.Select;
import org.openqa.selenium.By;
import org.openqa.selenium.WebDriver;
import org.openqa.selenium.WebElement;
import org.openqa.selenium.firefox.FirefoxDriver;
//import org.testng.annotations.AfterClass;
//import org.testng.annotations.BeforeClass;
//import org.testng.annotations.Bef

[2015-11-05 03:18] shaheenashaik commented on #101
i used all locators type to find element but again it showing same error

[2015-11-05 08:38] artkoshelev commented on #101
i can't see the use of htmlelements framework here, please post your question on stackoverflow

[2015-11-05 08:38] #101 closed

[2015-11-20 19:16] #88 closed

[2015-12-09 13:13] tmatveyeva commented on #68
Issue was fixed somewhere between time of reporting and 1.15 release, you can close it

[2015-12-09 16:06] Actine commented on #68
Yep, fixed in 43957e41cd67a4cd1a0a11be06ebbf3ac77c93fa. Thanks for letting me know @tmatveyeva

[2015-12-09 16:06] #68 closed

[2016-01-14 15:38] vasidzius opened #104 "Incompatible types error in HtmlElementDecorator(driver) [RU]"
Добрый день,

Только начал знакомиться с фреймворком. Делаю по Вашей инструкции https://github.com/yandex-qatools/htmlelements-examples/blob/master/htmlelements-junit-example/src/site/junit-example.md

В классе `MainPage` в строке `PageFactory.initElements(new HtmlElementDecorator(driver), this)`
ошибка

[code]
Использую Java 8, IDEA Community 15

Буду признателен, если подскажете что не так делаю

[2016-01-14 19:03] lanwen commented on #104
Пожалуйста используйте stackoverflow для вопросов, особенно русских.

[2016-01-15 07:22] vasidzius commented on #104
Done
<http://stackoverflow.com/questions/34806069/incompatible-types-error-in-htmlelementdecoratordriver>

As I understand decision to my question is using
    new HtmlElementLocatorFactory(driver)
instead
    driver

If so, please rewrite starting guide, which would help to other novices

[2016-01-18 14:54] emaks commented on #104
try to use
[code]

[2016-01-19 06:54] #104 closed

[2016-01-19 09:26] #96 closed

[2016-01-19 09:29] artkoshelev commented on #104
It would be nice if you update manual with working example =)

[2016-02-19 02:50] andrew-sumner opened #105 "The constructor HtmlElementDecorator(WebDriver) is undefined"
The readme says that to use this I should add this code to my pageobject:

    PageFactory.initElements(new HtmlElementDecorator(driver), this);

However that is giving me this error: The constructor HtmlElementDecorator(WebDriver) is undefined

Any idea what might be wrong?

I'm using ru.yandex.qatools.htmlelements:htmlelements-java:1.15

[2016-02-19 02:56] sanjevsunder commented on #105
There is an issue with the readme, someone should change it.

Instead of:
`PageFactory.initElements(new HtmlElementDecorator(driver), this);`
You should do this:
`PageFactory.initElements(new HtmlElementDecorator(new HtmlElementLocatorFactory(driver)), this);`

Reference: http://stackoverflow.com/questions/34806069/incompatible-types-error-in-htmlelementdecoratordriver

[2016-02-19 06:27] aik099 commented on #105
Could you please send a PR with that change?

[2016-02-24 03:34] sanjevsunder commented on #105
@aik099 Here is the PR - https://github.com/yandex-qatools/htmlelements/pull/106

[2016-02-26 00:08] andrew-sumner opened #107 "Make WebDriver available from HTML Elements #2"
This is a duplicate of #56 but as that has been open for close to 2 years now I thought I'd start another.

I need to use WebDriverWait in my element but am unable to do this currently because the constructor requires a WebDriver object.

Can you _please_ implement this functionality?

I'm using 'ru.yandex.qatools.htmlelements:htmlelements-java:1.15'

[2016-02-26 08:22] artkoshelev commented on #107
as soon as you provide reasonable explanation for it in original issue

[2016-02-26 08:22] #107 closed

[2016-02-26 12:05] andrew-sumner commented on #56
I need to use WebDriverWait in my html element but am unable to do this currently because the constructor requires a WebDriver object.

Is there any chance you can implement this functionality?

I'm using 'ru.yandex.qatools.htmlelements:htmlelements-java:1.15'

[2016-02-26 13:46] artkoshelev commented on #56
@andrew-sumner can you describe problem you solving please?

[2016-02-27 11:12] andrew-sumner commented on #56
I have a responsive web application with two different navigation menu's: one for phone layout and one for desktop layout.  I'm using the HtmlElement as a wrapper for the navigation menu but I need to put a wait command in to ensure that one or the other menu has finished loading and is visible before attempting to access the WebElement and would prefer to use a WebDriverWait command which require

[2016-02-27 11:26] aik099 commented on #56
Why not use `@Timeout` annotation on the element itself to specify that element might not be immediately available?

[2016-02-27 11:32] artkoshelev commented on #56
And even without `@Timeout` annotation you don't need to use waiter, default timeout for searching elements is 5 seconds

[2016-02-27 22:18] andrew-sumner commented on #56
I hadn't seen the @Timeout annotation before, but found it buried in the release notes.  It may meet this requirement, I'll have to look into the implementation a bit more first.

Recommended advice is not to mix explicit and implicit waits (http://www.seleniumhq.org/docs/04_webdriver_advanced.jsp), we perform explicit waits using WebDriverWait when needed.  What does the @Timeout annotation do be

[2016-02-28 07:11] artkoshelev commented on #56
it's an element-specific implicit wait

I'll not recommend to do any direct driver calls since you introduce PageObject architecture in your project. In your specific case you can describe calendar items as collection and then iterate to find one with required date. Using lamdaj library and matchers will help a lot here.

[2016-03-01 01:12] andrew-sumner commented on #56
I certainly understand that you want to keep to a pure page object pattern, unfortunately for me that comes at the cost of some flexibility in how I can use your very awesome project.

How would you suggest I do this one then?   (I just encountered this issue today)

The below class is a block element that represents a menu.  The web pages its used in contain iframes, although this menu it not in

[2016-03-01 08:16] aik099 commented on #56
So the main problem is transparent switching between frames the elements are located when those elements are located. I also have exact same problem in my PHP version of this library: https://github.com/qa-tools/qa-tools/issues/116

The problem, in my case, if that reference to an element (that might itself be in a frame) isn't kept, when element is found. Although it might be really cool to allow

[2016-03-01 09:20] artkoshelev commented on #56
Yep, handling iframes is a completely different (and pretty complex) story. Implementing it as element annotation will require checking current frame for every element call, which will slow down test execution unpredictably. @andrew-sumner in your specific case i would implement `@iframe` annotation for high-level test steps, which will handle frame switching before and after method execution.

[2016-03-01 15:45] Actine commented on #56
Original poster here. I'm not doing Selenium automation for a year already, but seeing the issue being brought up again I decided to jump into the discussion.

@artkoshelev sorry but it seems that you're trying to avoid implementing the requested feature at all cost :) suggesting suboptimal workarounds and new annotations only to not expose the driver. However, as far as I understand, the use case

[2016-03-01 16:58] artkoshelev commented on #56
Need for webdriver instance inside elements is a smell of bad test architecture for me. WebElements and HtmlElements were created to describe page structure, not actions. To implement actions which need webdriver just use objects which already knows about webdriver - pages or steps (see http://www.thucydides.info/#/ or http://allure.qatools.ru/).

[2016-03-01 20:11] andrew-sumner commented on #56
@artkoshelev I'm not convinced that I would use an @iframe annotation, i'd prefer to handle that myself.  You state "_which will handle frame switching before and after method execution_", I might want that behaviour in some cases, in other's (like my example above) I don't want the frame to switch back after execution.

Same applies to the @time annotation as well - I'm not sure that I'm ever lik

[2016-03-01 22:28] andrew-sumner commented on #56
@Actine Thanks for the suggestion - I've implement it and it was so easy given the changes in the latest version of htmlelements.  Here's my implementation for anyone else that may have this problem:

@artkoshelev While I believe this functionality should be part of the project, I'm very impressed with how easy it was to extend htmlelements to meet my requirement - so a big thanks to everyone who

[2016-03-02 10:14] artkoshelev commented on #56
@andrew-sumner so, how about proposing PR with your feature implementation? =)

[2016-03-03 01:36] andrew-sumner opened #108 "Accessing any web element is doing an implicit wait"
Whenever I call a method on a WebElement field it is performing an implicit wait.

I have not configured the application to perform implicit waits as we _always_ use explicit waits.

Recommended advice is not to mix explicit and implicit waits (see http://www.seleniumhq.org/docs/04_webdriver_advanced.jsp), we perform explicit waits using WebDriverWait when needed.

Ideally I would like HtmlElement

[2016-03-03 02:35] andrew-sumner commented on #56
PR created :-)

[2016-03-03 21:36] andrew-sumner commented on #56
PR now passes sonar checks...

[2016-03-03 21:48] Actine commented on #56
СС @tmatveyeva

[2016-03-07 08:19] andrew-sumner commented on #108
PR created

[2016-03-07 11:58] lanwen commented on #108
This breaks behaviour that already used by almost all users of htmlelements, so if you need to set this timeout to 0, just use `-Dwebdriver.timeouts.implicitlywait=0`

[2016-03-07 11:58] #108 closed

[2016-03-07 16:32] andrew-sumner opened #111 "@timeout annotation is forcing implicit waits onto users"
As issue #108 (and PR #110) has been closed prematurely and I cannot reopen it, I've started a new issue.

@Ianwen Regardless of how long its been in use, the currently implementation alters the default behaviour of selenium and I consider it to be a bug.

You were right to reject my PR but you've done it for the wrong reasons.  I was a bit hasty with my original PR as my implementation would like

[2016-03-08 20:20] lanwen commented on #111
summon @artkoshelev

[2016-03-09 09:07] andrew-sumner commented on #111
I've done a little more investigation since posting this and unfortunately not had the time to take it further.  I at least understand why the @timeout feature has been built this way - selenium unfortunately don't provide a way to get at the implicit wait setting so you've been forced to implement a complete replacement for selenium's implicit timeout setting.

This feature is a great idea, selen

[2016-03-09 11:51] artkoshelev commented on #111
@andrew-sumner thank you for investigating the problem
1. not agreed, zero seconds timeout is as unexpected as 5 seconds, we should probably get it from driver
2. agredd, using this system property comes from older times and only grand-fathers of automation can remember using it in selenium (and it's not documented)
3. completely agreed here, PR's are welcome, you know :)

[2016-03-09 22:43] andrew-sumner commented on #111
I have to disagree with you about 0 second wait being as unexpected as a 5 second wait:

From the selenium documentation: http://www.seleniumhq.org/docs/04_webdriver_advanced.jsp

and also

Clearly anyone who is using implicit waits expects that the default would be zero.  I know that yours is an alternative implementation but surely it's best to conform to existing behaviour where possible?

I've

[2016-03-10 09:05] artkoshelev commented on #111
If you dig a little deeper, you'll find [this commit](https://github.com/yandex-qatools/htmlelements/commit/c104ca608d5a36cbf5877b348e6ce630a3a20ee6) existing almost from the very beginning of project. Using default implicitly wait will save you a lot of code and nerves. Mixing it with explicit waits is not unpredictable, but has expected limits, so will not harm. In rare case of testing specific

[2016-03-10 09:41] andrew-sumner commented on #111
I give up, close this if you want. I'll be creating a custom locator factory for use on my projects that default to a 0 second wait.

I get that you guys like implicit waits, but there is a large community out there that do not and this project as it stands doesn't cater well to us.

I personally find that I only need to wait on one or two elements on a page, the majority of the time waits (implic

[2016-03-31 03:15] andrew-sumner opened #112 "Is it possible to refresh stale elements?"
I have a search page that contains a table that gets populated with search results after the user presses the search button.  My page object wraps the rows of the search results table in an htmlElements class.  I'm getting a stale element exception when accessing the results table - as you'd expect because it was just refreshed by an ajax request.

I've worked around it by returning a new instance

[2016-03-31 10:13] #112 closed

[2016-03-31 10:14] artkoshelev commented on #112
Please post your questions on stackoverflow with #htmlelements tag.

[2016-05-03 11:30] robertgates55 opened #114 "class must either be declared abstract or implement method 'getRect()' in 'WebElement'"
I recently updated versions on my test framework, and my HtmlElements classes are now displaying the error:
`class 'Blah.class' must either be declared abstract or implement abstract method 'getRect()' in 'WebElement'`

I'm running latest selenium release and 1.15 of htmlelements - any ideas what's happened or how to resolve? Tests are still running fine, but my IDE (IntelliJ) is showing the class

[2016-05-04 07:44] artkoshelev commented on #114
Since you have no problem with compilation and runtime execution it looks like some problems within IDE.

[2016-05-04 10:06] pazone commented on #114
There is new ```getRect``` method has been added to ```WebElement```. You can see it [here](https://github.com/SeleniumHQ/selenium/commit/f1e491e3bb6395f6ec41f43adf734fef214884b9). So, if you are using newer Selemium than 2.52 you should implement ```getRect``` or just forget it.
@artkoshelev what is your opinion ?

[2016-05-04 11:02] artkoshelev commented on #114
Thank you, @pazone i just missed that change when checking it in selenium codebase. I thing we should support it in the next version, so PR's are welcome =)

[2016-05-06 15:14] artkoshelev commented on #114
fixed here https://github.com/yandex-qatools/htmlelements/pull/115

[2016-05-06 15:14] #114 closed

[2016-05-06 17:53] IgorBM opened #116 "Ability to find elements in Class Table shall be improved"
I have to test a table with the following structure:

<table>
     <thead>
        <tr>
           <th/>
           <th/>
           ....
           <th/>
        </tr>
    <thead/>
    <tfoot>
        <tr>
           <td/>
        </tr>
   </tfoot>
  <tbody>
        <tr>
           <td/>
           <td/>
           ....
           <td/>
        </tr>
  </tbody>

Thus, when I declare it like:

[2016-05-06 17:54] IgorBM opened #117 "Ability to find elements in Class Table shall be improved"
I have to test a table with the following structure:

[code]

Thus, when I declare it like:
[code]

In case of empty table with a single row to be filled, I've got 3 rows - one for header, one for footer, 8 for tbody and it fails with this error on the line 143 in Table.java:
[code]

Could you introduce some flexibility to handle such table structures, so rows are being located under tbody, for ex

[2016-05-06 17:55] #116 closed

[2016-05-10 07:59] artkoshelev commented on #117
I can't find code you are talking about in htmlelements codebase. Which version do you use?

[2016-05-10 10:58] IgorBM commented on #117
Sorry. It seems I was using the version 1.14 and in 1.15 you have resolved this issue already. Thanks for the hint!

[2016-05-10 10:58] #117 closed

[2016-05-16 12:10] ham1 commented on #89
@artkoshelev I was just looking through issues, it looks like this one can be closed?

[2016-05-16 12:11] ham1 commented on #114
Is it possible to do a new release now that this issue has been fixed and merged? Or is there some way to get the latest snapshot in maven?

[2016-05-17 07:00] artkoshelev commented on #114
Had you tried 1.16-SNAPSHOT version?

[2016-05-17 07:00] artkoshelev commented on #89
yep, thank you

[2016-05-17 07:00] #89 closed

[2016-05-17 21:59] ham1 commented on #114
I've tried but unfortunately get the following: `Could not find artifact ru.yandex.qatools.htmlelements:htmlelements-java:jar:1.16-SNAPSHOT -> [Help 1]`

[2016-05-18 09:54] artkoshelev commented on #114
As you can see It's available in [sonatype repo](https://oss.sonatype.org/#nexus-search;gav~ru.yandex.qatools.htmlelements~htmlelements-java~~~), so check your maven settings.

[2016-05-18 21:29] ham1 commented on #114
I added the following to the pom and it's working now, many thanks.
[code]

[2016-05-31 00:59] andrew-sumner commented on #78
I was just about to raise an issue on this myself as have struck the same problem or work related to issue #56.  Any idea when a new version might be released?

[2016-05-31 07:53] artkoshelev commented on #78
@andrew-sumner which issue you are talking about?

[2016-06-01 03:09] andrew-sumner commented on #78
@artkoshelev

I have a custom decorator called that I use to initialise the page elements but this decorator is not passed onto inner elements.

    PageFactory.initElements(new PageObjectAwareHtmlElementDecorator(new HtmlElementLocatorFactory(driver), this), this);

I've ended up working around the issue and have included the code so you can see what I've had to do to implement this.

It consist

[2016-06-04 09:58] ham1 opened #120 "TypifiedElement implementing WebElement?"
Is there a reason that `TypifiedElement` doesn't implement `WebElement`?

The main reason for asking is to simplify use of `ExpectedConditions`, especially when using a list of them e.g. `List<CheckBox> checkboxes`.

I'd like to do: `wait.until(ExpectedConditions.visibilityOfAllElements(checkboxes))` but because visibilityOfAllElements only accepts `List<WebElement>` this doesn't work, equally for

[2016-06-04 10:44] ham1 commented on #105
Looks like this issue can closed?

[2016-06-04 14:08] ham1 commented on #120
I've created a PR which solved the `visibilityOf(checkBox)` problem from an interface point of view.

However `List`s are more complex. When doing
[code]
It fails after 5s (the implicit wait as mentioned in #111) - is there a way, without using the `@Timeout` everywhere, to utilise the explicit wait for lists?

[2016-06-06 09:32] #105 closed

[2016-06-06 10:58] #120 closed

[2016-06-10 07:21] emaks opened #122 "Changes from pull request #121"
Changes from pull request #121 have removed difference between ```TypifiedElement.class``` and ```HtmlElement.class```. Now we can do all actions that provides selenium api using ```TypifiedElement.class``` while this class has been implemented not to provide this possibility

[2016-06-10 08:45] ham1 commented on #122
This is correct. What do you see the disadvantages of being able to access the `WebElement` API with `TypifiedElement`s? Do you know why it was different in the first place?

I found the major advantage being able to wait for it like a normal `WebElement`.
It also reduces code duplication, often you want to perform actions which are identical to the `WebElement` API and before the PR they were bee

[2016-06-10 12:37] ham1 commented on #122
Why *must* the functionality not be there?

Is already is there as you can still get access to the API using `.getWrappedElement()` - so easy to get around.

You can chose just not to use it.

Whereas, if it's not there, `.getWrappedElement()` has to be called or things such as explicit "wait for (in)visibility of all in" a `List` *cannot* be done without a custom `ExpectedConditions`.

In your ex

[2016-06-10 13:23] emaks commented on #122
because it looks like https://hsto.org/getpro/habr/post_images/9b8/71b/a0b/9b871ba0b4fe575aa9d896a6d642c55a.jpg

[2016-06-10 13:56] lanwen commented on #122
`TypifiedElements` is a architect fail. So in most cases we have more troubles than profit from using it. So  its just a step to make unification of this classes

[2016-06-10 15:16] emaks commented on #122
in that case ```TypifiedElements``` have to be removed

[2016-06-10 15:20] ham1 commented on #122
I totally agree. As well as being more 'correct' it will simplify the code base, which is always good, but what of backward compatibility?

[2016-06-10 15:28] ham1 commented on #79
@akrambek could you post the full xpath here in case others find it useful, then can this issue be closed?

[2016-06-10 15:33] lanwen commented on #122
yep, we can't just remove this class without set of small steps which are: unification - deprecation - removing.

[2016-06-10 15:41] ham1 commented on #12
Any more info on this? The original link is now 404.

[2016-06-10 16:42] AlexanderTolmachev commented on #12
Yes, WebDriver repo has been moved. Here is the class I mentioned above: <a href="https://github.com/SeleniumHQ/selenium/blob/c10e8a955883f004452cdde18096d70738397788/java/client/src/org/openqa/selenium/interactions/Actions.java">Actions.java</a>.

[2016-06-10 18:33] ham1 commented on #69
Are there any changes in this matchers which should be moved to that project before deleting?

[2016-06-10 19:26] ham1 commented on #12
Is what you were thinking now possible since `TypifiedElement`s now implement `WebElement`? See #121

[2016-06-13 21:26] lanwen commented on #69
After unified type with typifiedElement, i think no. But not sure

[2016-06-13 21:28] #94 closed

[2016-06-14 09:16] AlexanderTolmachev commented on #12
Yes, you can use WebDriver Actions with TypifiedElements since #121 is done.
But it's not type safe. I mean, you are not preserved from calling something like this:
[code]

[2016-06-19 14:58] ham1 opened #128 "Expanding Table API to include Streams"
Now we are using Java 8, I wanted to extend the API of the Table by adding methods such as:
`public Stream<List<WebElement>> getRowStream()`

As an example use case:

[code]

This would be much faster in the best case i.e. it would only look at the first row, instead of **always** having to create a list of the entire table.

Before I create a PR I wanted people's opinion regarding if we should ke

[2016-06-20 11:31] lanwen commented on #128
I'm ok for the css selectors, but not ok with new stream methods. It looks very strange and similar to the quick workaround, but not the real api. If it should be lazy loaded, so it should return Iterable with corresponding iterator

[2016-06-20 11:54] ham1 commented on #128
Just to clarify, you would be happy to change the current `xpath` to `css`, or only use `css` for new API methods?

I much prefer `Streams` over `Iterators` as an API, less client code and more functional in style.
How would you achieve my example above with an iterator?
What advantages are there to using `Iterator` instead of `Stream`?

[2016-06-20 13:14] lanwen commented on #128
I'm for css selectors everywhere.

Stream provider should be able to provide lazily new elements. This is possible only with lazy evaluation of the selector. Lazy evaluation possible only with corresponding iterator. (Or it will be same as `getList().stream()`). As of Iterable much more simple interface - it should be used instead of stream. (It can be converted to stream easily). As a bonus - we

[2016-06-20 13:23] ham1 commented on #128
Yes I see your point.

I had planned to do something like:
[code]

Where it would still, as you say, have to get all the `tr`, but the mapping to `td` would be lazy.

I will submit PR and see what people think.

[2016-07-04 14:18] iamanikeev opened #129 "Nested typified elements"
Hi,

I am using TypifiedElement as a base class, from which I extend my own elements, that partially use Yandex methods. Some methods are overridden because application that is being tested has its own makeup specifics. The issue is as follows:

F.e. there is an element that has some inner elements inside it :

[code]

This element, it its turn is being placed on a page, and also has a `@FindBy` (

[2016-07-05 05:29] iamanikeev commented on #129
calling `populatePageObject(instance, elementToWrap);` after this [line](https://github.com/yandex-qatools/htmlelements/blob/master/htmlelements-java/src/main/java/ru/yandex/qatools/htmlelements/loader/HtmlElementLoader.java#L130) does the trick.

[2016-07-05 09:31] artkoshelev commented on #129
Initially we think of TypifiedElement as simple, basic elements constructing page. We usually extend HtmlElements when describing complex blocks with inner structure. Actually there is no much difference between two and i think bringing the idea of TypifiedElement was wrong from the very beginning. We will probably get rid of it in the future.

[2016-08-10 12:25] IZaiarnyi opened #130 "Internal selectors return items which have been found by the absolute path"
htmlelements-java 1.17

### Selectors return items which have been found by the absolute path, instead of a relative path from the class
The page contains a lot of same elements that were described in this class
[code]
I include them in page
[code]
and initialize them in parent class
[code]
**printSceneDescription() prints the same name(first element's name) 'sceneDescriptions.size()' times, so th

[2016-08-10 12:53] pazone commented on #130
xpath selector like `"//label"` (starts with `//`) searches elements from the root of your HTML. But if you will use `.//` prefix it will search inside your current context element. All in all it's better to use css selectors.

[2016-08-10 13:12] IZaiarnyi commented on #130
Thank a lot

[2016-08-10 13:12] #130 closed

[2016-08-26 15:52] IZaiarnyi commented on #111
Do we have any ability to set default timeout to 0 instead of 5 seconds without setting @Timeout ?

[2016-08-26 16:28] artkoshelev commented on #111
@IZaiarnyi please ask your questions on [stackoverflow](http://stackoverflow.com/questions/tagged/htmlelements)

[2016-09-15 15:19] #129 closed

[2016-10-19 21:30] tnimni opened #133 "Using Marionette and Html elements"
Hi,

I had to upgrade to Marionette since firefox driver is only supported for v47 and below.
ever since I upgraded the test webDriver, Yandex Html Elements stopped working

Any chance to get some help here?

Thanks

[2016-10-19 23:52] jbjohnson86 opened #134 "question about Form.fill with radio buttons"
I'm not entirely sure how Form.fill works for radio button. Could someone explain how that works and what the map needs to look like?

[2016-10-20 08:27] #134 closed

[2016-10-20 08:28] artkoshelev commented on #134
please ask questions on stackoverflow with htmlelements tag http://stackoverflow.com/tags/htmlelements

[2016-10-20 08:30] artkoshelev commented on #133
What do you mean by stop working? Can you provide some detailed error description and stacktraces?

[2016-10-25 10:24] tnimni commented on #133
Hi,
I'll try and upload the stack trace
Thank you

[2016-11-25 10:13] andreevym opened #135 "Направить мышку на элемент, для открытия списка меню"
Коллеги, добрый день.

Проблема:
У меня есть меню и для его открытия нужно сначало навести мышку на 1 элемент, потом кликнуть на другой элемент.

Подтверждение, что проблема распространенная:
http://stackoverflow.com/questions/6101461/how-to-force-selenium-webdriver-to-click-on-element-which-is-not-currently-visib

Решение:
Хочу сделать Pill Request, чтобы добавить в класс TypifiedElement метод, к

[2016-11-25 10:24] artkoshelev commented on #135
Делай, посмотрим )

[2017-01-16 10:47] clicman opened #137 "Is any chance to back to java 7 capability?"
HI! I see what is not a lot of code pinned to java 8. Since many projects still on java 7, is it better to keep this capability?

[2017-01-16 12:02] lanwen commented on #137
No, 1.7 is not updated anymore, and 1.9 will be soon. Test code written for 1.7 can be compiled and launched on java 1.8 without any problem so can't see any reasons to back to 1.7 in code.

Why you can't update your jdk?

[2017-01-16 12:08] clicman commented on #137
Because I can't violate enterprise restrictions. A lot of companies stuck in near past and requires java 7 capability.
According [this](http://www.oracle.com/technetwork/java/eol-135779.html) doc jdk 7 extended support will until Jul 2022.

[2017-01-16 13:10] lanwen commented on #137
Yep - and `Sustaining Support` is `Indefinite` :)

Most of our users feel good with 1.8 and this version simplifies a lot of code maintaining pain.
You can use older versions of htmlelements or fork repo and made changes to your own corporate copy with only 1.7 code.

Sorry for inconvinience.

[2017-01-16 13:10] #137 closed

[2017-01-16 13:12] clicman commented on #137
All OK. I'll fork the repo and will try to be in sync with original one.

16 янв. 2017 г. 8:10 PM пользователь "Merkushev Kirill" <
notifications@github.com> написал:

[2017-01-16 13:20] lanwen commented on #137
v1.14 without java8 code. Please ping when you start, i'll put link to readme to your fork

[2017-01-16 13:55] clicman commented on #137
Deal!

16 янв. 2017 г. 8:20 PM пользователь "Merkushev Kirill" <
notifications@github.com> написал:

[2017-01-24 10:50] clicman commented on #137
@lanwen we were relased Java 7 version:
https://github.com/sbtqa/htmlelements/releases/tag/1.17-JAVA7
https://oss.sonatype.org/#nexus-search;quick~ru.sbtqa.htmlelements

It pending on maven cental sync. In near future it will available on central.

[2017-06-01 21:37] lehvolk commented on #111
+1 for removing implicit waits or sync them with driver. Just investigated performance problems with our autotests and figure out 2 problems:

1. SlowLoadingElementList load list for 5 seconds if target list is empty. If UI for example contains of embedded almost all empty tables then iteration for low levels cells can be dramatically slow.

2. if you want to check existence of any element (modal

[2017-08-18 09:03] doctordrue opened #139 "HtmElement doesn't work with Selenium java-bindings 3.5.1"
Invocation target exception throws when calling
`PageFactory.initElements(new HtmlElementDecorator(new HtmlElementLocatorFactory(driver)), this);`

Stack-trace:
[code]

[2017-08-18 09:16] doctordrue commented on #139
It seems org.openqa.selenium.support.pagefactory.AbstractAnnotations.buildByFromFindBy(FindBy) has been removed in Selenium 3.5.1

[2017-08-18 13:40] mgrybyk commented on #139
yes, does anyone know how to fix it?

P.S.
https://github.com/SeleniumHQ/selenium/commit/0b3018895b4cd1f6e7f398b98ecc8ce4cdd877a3

[2017-08-18 15:15] mgrybyk commented on #139
@doctordrue you have missed one issue with HtmlElementClassAnnotationsHandler

-                return buildByFromFindBy(clazz.getAnnotation(FindBy.class));
+                return new FindBy.FindByBuilder().buildIt(clazz.getAnnotation(FindBy.class), null);

[2017-08-18 15:16] mgrybyk commented on #139
sorry, missed your another commit
https://github.com/yandex-qatools/htmlelements/pull/140/commits/fbd6da292f670550cd9c266b589433f1b46368b9

[2017-08-21 08:05] doctordrue commented on #139
@lanwen, Is anybody going to take care about deploying new version to mavem-central. It seems there is a problem with deploying job due to SonarQube server inaccessibility: http://ci.qatools.ru/job/htmlelements_master-deploy/40/

[2017-08-21 09:11] lanwen commented on #139
@doctordrue Forgot to press the "release" button in sonatype. Sorry for that. Should sync now in few hours

[2017-08-21 09:12] lanwen commented on #139
Closed via #139

[2017-08-21 09:12] #139 closed

[2017-08-23 16:28] dnekhayev commented on #107
What about JavascriptExecutor? I need to execute some script inside a class that derived from HtmlElement class. The class describes a block of HtmlElements and represents a control on a web page.

[2017-10-19 11:40] ham1 commented on #133
Is this still happening with the latest FF and gecko driver?

[2017-10-19 11:46] ham1 commented on #122
Can this be closed or are we going to look to deprecate `TypifiedElement`s?

[2017-10-20 04:22] artkoshelev commented on #122
i would vote for deleting it

[2017-12-06 10:37] Zlaman commented on #111
There is one more issue related to this. If I want to disable implicit waits completely via
[code]
I am getting exception in case I want to interact with any of WebElement initialized with HtmlElementLocatorFactory

[code]
If I set timeout to 1 second, everything works good.
So currently it is not possible to switch off implicit wait when using HtmlElementLocatorFactory to initialize PageFactory

[2017-12-06 23:19] artkoshelev commented on #111
@Zlaman had you tried the latest snapshot version? The latest commit fixes the issue you described: https://github.com/yandex-qatools/htmlelements/commit/736f3faf263e140b6c789eccdcf34e07e533e86c

[2017-12-07 07:56] Zlaman commented on #111
@artkoshelev no, I am using release 1.18 version from maven. How to take latest snapshot version from maven?

[2017-12-07 23:25] artkoshelev commented on #111
@Zlaman just change version to `1.19-SNAPSHOT`

[2017-12-08 06:38] Zlaman commented on #111
Unfortunately it does not work. Looks like maven central cannot store snapshot versions, only releases.
[http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22ru.yandex.qatools.htmlelements%22%20AND%20a%3A%22htmlelements-java%22](url)

[2017-12-09 23:43] andrew-sumner commented on #111
We've been using [JitPack](https://jitpack.io/) use the lastest version.

[2017-12-22 10:18] emaks opened #142 "[feature request] add waitFor*() and assert*() functions to TypifiedElement"
What do you think about possibility to add new functions like
```assertVisible(), assertExist(), waitForVisible(), waitForActive() ``` etc
to TypifiedElement.class. If it's good idea I can make pull request

[2017-12-26 23:04] artkoshelev commented on #142
I don't think bringing checks into objects itself is a good idea. There are existing [webdriver matchers](https://github.com/yandex-qatools/matchers-java/tree/master/webdriver-matchers) in nearby repo as well as [provided by selenium](https://github.com/SeleniumHQ/selenium/tree/master/java/client/src/org/openqa/selenium/lift). The good part about matchers is that you can combine, decorate and do w

[2017-12-26 23:04] #142 closed

[2018-03-06 21:39] jimmykemp opened #143 "Request for a v1.19"
Hello
Would there be any chance of publishing  a v1.19 of this project please?

Our project:
- uses Selenium > 3.5.1.  So requires v1.18 for campatability.
- uses 'webdriver.timeouts.implicitlywait' set to 0.  So cannot use v1.18 due to this  [issue](https://github.com/yandex-qatools/htmlelements/pull/141/files), fixed by @leonsabr

To get around this [issue](https://github.com/yandex-qatools/html

[2018-03-06 23:09] artkoshelev commented on #143
I have nothing against releasing new version. I'll check if i have access to CI jobs to perform release, or invite other people if not.

[2018-03-06 23:13] jimmykemp commented on #143
Fantastic - many thanks

[2018-03-07 00:27] artkoshelev commented on #143
It looks like CI is down :( calling for @lanwen to make the release...

[2018-03-07 09:36] lanwen commented on #143
no more hosted CI. Should be created from scratch with travis, or done by hands locally

[2018-03-07 10:05] eroshenkoam commented on #143
I will make it today, no problem

[2018-03-11 20:22] jimmykemp commented on #143
Hi @eroshenkoam
Thanks for looking to make a build.  Any idea how far away it might be ?

thanks in advance.

[2018-03-12 11:10] eroshenkoam commented on #143
ooops :)

[2018-03-12 11:41] eroshenkoam commented on #143
I'm working on it right now)

[2018-03-12 12:46] eroshenkoam commented on #143
Done: https://oss.sonatype.org/#nexus-search;quick~htmlelements

[2018-03-12 12:46] #143 closed

[2018-12-20 12:26] YuliyaHancharenka opened #146 "Question: When html elements 1.20 with support of Selenium version 3.141.59 will be released?"

[2018-12-25 22:19] artkoshelev commented on #146
Let's kindly ask @eroshenkoam to perform release =)

[2019-01-07 04:51] FDU-SE-LAB opened #148 "Your project yandex-qatools/htmlelements is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-10 01:12] artkoshelev commented on #146
let's shoot out to other maintainers... @lanwen maybe?

[2019-01-10 08:39] lanwen commented on #146
This repo is deprecated and not maintained anymore, please migrate to https://github.com/qameta/atlas which is full replacement with better architecture and a lot of new cool features

[2019-01-10 08:39] #146 closed

[2019-01-10 08:57] eroshenkoam commented on #146
I will release soon)

[2019-01-10 12:30] ham1 commented on #146
Thanks.

[2019-01-23 10:17] eroshenkoam commented on #146
done

[2019-01-23 14:12] ham1 commented on #146
Thank you for that. Do you know how long it might take to get into maven central?

[2019-01-24 09:12] ham1 commented on #146
It's there now :+1:

[2019-04-07 12:22] flashcsgroups opened #150 "К следующим версиям планируется описание на русском?"
Очень было бы хорошо , если бы к следующим версиям тоже было бы описание на русском языке . Мы же из России)

[2019-04-08 01:34] #150 closed

[2019-08-15 12:50] sankouski-dzmitry opened #151 "Table.getRows() is slow (affected by implicit timeout)"
Table.getRows() method is slow, when:

- Table has row which does not contain 'td' children (for example, if headings grouped in 'tr' tag)

This is because it searches for td tags in all rows, in for rows without td, implicit timeout is applied

[2019-08-26 19:33] IZaiarnyi commented on #78
@andrew-sumner Have you succeeded to overcome these issues?  I am trying to make the solution [#56 ](https://github.com/yandex-qatools/htmlelements/issues/56#issuecomment-190935126) works, however,  I am facing with same problems that you have mentioned above.  So, I would be very grateful for any assistance or solution from your side.

[2019-08-28 13:33] andrew-sumner commented on #78
I have, I’ll post a link to the code tomorrow.

On 27/08/2019, at 7:33 AM, IZaiarnyi <notifications@github.com<mailto:notifications@github.com>> wrote:

@andrew-sumner<https://github.com/andrew-sumner> Have you succeeded to overcome these issues? I am trying to make the solution #56 <https://github.com/yandex-qatools/htmlelements/issues/56#issuecomment-190935126> works, however, I am facing with s

[2019-08-29 06:21] andrew-sumner commented on #78
This is my impletentaion, not sure if it will help you or not.  I've been meaning to try to get these merged back into this project but haven't yet looked to see if I can maked it generic enough and other things always take priority...

https://github.com/concordion/cubano/tree/master/cubano-webdriver/src/main/java/org/concordion/cubano/driver/web/pagefactory

[2019-08-29 13:53] IZaiarnyi commented on #78
Thank you, it has helped me a lot.
This functionality is definitely worth to be moved into htmlelements project.

[2019-09-09 14:29] sankouski-dzmitry opened #153 "Feature: Possibility to select drop-down by index, value, and visible text."
Currently, htmlelements have the only way to fill Select elements in Form element: by value.

I suggest to add possibility to specify select fill strategy (index, value, text)

It could be done, for example with parsing value:
if value begins with 'index=' than Select::selectByIndex method will be used
if value begins with 'text=' than Select::selectByVisibleText method will be used
etc..

[2019-10-23 06:49] goolishbear opened #154 "FindBys and FindAll not work when using at class level"
In HtmlElementFieldAnnotationsHandler and HtmlElementClassAnnotationsHandler, it only checks FindBy, no FindBys and FindAll.

[2020-08-07 12:05] nagaeva-anastasia opened #158 "selenium 4"
Are you going to add support of selenium 4? Is the project alive?

[2020-08-11 06:30] artkoshelev commented on #158
Pls define "alive" =). There is no active development/roadmap for sure. I do looking after it as a "best effort" though, so if you raise a PR to support selenium 4 - i'll happily review/merge/release it.

[2021-05-07 13:56] #128 closed

[2022-03-14 08:20] udayivaturi commented on #158
When do you plan to release v1.21.0 to Maven? We are blocked on this upgrade to use Selenium 4 with HtmlElements package.

[2022-03-15 05:58] artkoshelev commented on #158
@udayivaturi this is unlikely to happen - all maintainers (including myself) seems to be not able to dedicate extra time to this project any more. I'd suggest you to release it to your company internal maven repo and use that artifact instead of Maven Central.

[2022-09-06 14:22] ayan13579 commented on #80
update this version ru.yandex.qatools.htmlelements to 1.20.0, in earlier version it was using newInstance() method which is deprecated now. I hope this will solve the issue.